.login-wapper{
    /* background-image: url("figma.png"); */
    background-color: #101010;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

}
.logo {
    max-width: 285px;
    display: block;
    margin: 0 auto;
    height: 225px;
    margin-top: -65px;
}
.password-eye{
    position: absolute;
    right: 8px;
    top: 12px;
    z-index: 1;
    cursor: pointer;
    color: #fff;
}
.logo img{
    max-width: 100%;

}
.login-form {
    max-width: 400px;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding: 15px 60px;
    box-shadow: 0px 0px 14px #3e3c3c;
}
.login-form h2, .login-form p{
    color: #F8F8F8;
    
}
.login-form h2{
    font-weight: 400;
    line-height: 0px;
    display: block;
    margin-top: 30px;
}
.login-form p{
    display: block;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
}
.black-input {
    box-sizing: border-box;
    background-color: #424242;
    color: #fff;
    width: 100%;
    font-size: 16px;
    border: 0px;
    display: block;
    outline: 0px;
    padding: 10px 15px;
    box-shadow: 0px 0px 2px #dbdbdb;
    margin-bottom: 25px;
    font-weight: 300;
    border-radius: 5px;
}
.black-input:focus{
    box-shadow: 0px 0px 8px #dbdbdb;
    border: 0px;
    outline: 0px;
}
.login-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    align-items: center;
}



p.reset-text{
    color: #c9ac0ce0 !important;
    text-align: center;
    font-size: 20px !important;
    line-height: 22px !important;
    margin-top: 28px !important;
}

.forgot-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;

  margin-bottom: 20px;
}

